<div class="alert alert-warning">
  <h5>Authentication Required</h5>
  <p><%= service %> session has expired. Please reconnect to continue syncing.</p>
  <a href="<%= loginUrl %>" class="btn <%= service === 'Spotify' ? 'btn-spotify-reconnect' : 'btn-youtube-reconnect' %>">
    Reconnect to <%= service %>
  </a>
</div>
